@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.03em;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.04em;
}

::selection {
  background: #000;
  color: #fff;
}

/* Hide scrollbar for horizontal scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
